<!DOCTYPE html>
<html>
    <head>
        <title>DigiDrobe</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/login.css"/>
        <link rel="stylesheet" href="css/menu.css"/>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="js/register.js"></script>
    </head>

    <body>
        
        <!--navigation bar / menu-->
        <nav>
            <label class="logo">DigiDrobe</label>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="wardrobe.html">Wardrobe</a></li>
                <li><a href="outfits.html">Outfits</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </nav>

        <!--main content: login form-->
        <div id="app">

            <div class="loginForm">
            <h2>Login with email</h2>
            <br>
                <form class="form-group">

                    <div class="emailField">
                        <label for="email">Email:</label>
                        <input v-model="email" 
                            type="email" 
                            class="form-control" 
                            placeholder="Email" required>
                    </div>
                        <br>
                    <div class="passwordField">
                        <label for="password">Password:</label>
                        <input v-model="password" 
                            type="password" 
                            class="form-control" 
                            placeholder="Password" required>
                    </div>
    
                        <input type="button" value="Submit" class="btn btn-primary" @click="valLogin">
                        <p> Don't have an account? <a href="register.html">Sign up now!</a></p>
                </form>

            </div>

        </div>
                  
    </body>
        

</html>