<!DOCTYPE html>
<html>
    <head>
        <title>DigiDrobe</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="css/register.css"/>
        <link rel="stylesheet" href="css/nav.css"/>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
    </head>

    <body>
        
        <!--navigation bar / menu-->
        <div class="navbar-wrapper">
            <label class="logo">DigiDrobe</label>
            <nav>
                <input class="hidden" type="checkbox" id="navToggle">
                <label class="nav-btn" for="navToggle">Menu</label>
                
                <div class="nav-container">
                    <ul class="nav-links">
                        <li class="nav-link"><a href="home.html">Home</a></li>
                        <li class="nav-link"><a href="upload.html">Upload</a></li>
                        <li class="nav-link"><a href="wardrobe.html">Wardrobe</a></li>
                        <li class="nav-link"><a href="login.html">Login</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <!--main content: registration form-->
        <div class="main-container">
            
            <div id="registerForm">

                <div class="register-form">
                <h2>Sign up with email</h2>
                    <br>
                        <form class="form-group">

                            <div class="email-field">
                                <label for="email">Email:</label>
                                <input v-model="email" 
                                    type="email" 
                                    placeholder="Email" required>
                            </div>
                                <br>
                            <div class="password-field">
                                <label for="password">Password:</label>
                                <input v-model="password" 
                                    type="password"  
                                    placeholder="Password" required>
                            </div>
                                <br>
                            <div class="confirmPass-field">
                                <label for="confirmPass">Confirm Password:</label>
                                <input v-model="confirmPass" 
                                    type="password" 
                                    placeholder="Confirm Password" required>
                            </div>

                            <input type="submit" class="btn btn-primary" @click="valRegister">
                            <p>Already have an account? <a href="login.html">Log in here!</a></p>
                        </form>
        
                </div>
            
            </div>
            
         </div>  

    </body>
    <script src="js/register.js"></script>    

</html>