<!DOCTYPE html>
<html>
    <head>
        <title>DigiDrobe</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/register.css"/>
        <link rel="stylesheet" href="css/menu.css"/>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="js/register.js"></script>
    </head>

    <body>
        
        <!--navigation bar / menu-->
        <nav>
            <label class="logo">DigiDrobe</label>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="wardrobe.html">Wardrobe</a></li>
                <li><a href="outfits.html">Outfits</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </nav>

        <!--main content: login form-->
        <div id="app">

            <div class="registerForm">
            <h2>Sign up with email</h2>
                <br>
                    <form class="form-group">

                        <div class="emailField">
                            <label for="email">Email:</label>
                            <input v-model="email" 
                                type="email" 
                                class="form-control" 
                                placeholder="Email" required>
                        </div>
                            <br>
                        <div class="passwordField">
                            <label for="password">Password:</label>
                            <input v-model="password" 
                                type="password" 
                                class="form-control" 
                                placeholder="Password" required>
                        </div>
                            <br>
                        <div class="confirmPassField">
                            <label for="confirmPass">Confirm Password:</label>
                            <input v-model="confirmPass" 
                                type="password" 
                                class="form-control"
                                placeholder="Confirm Password" required>
                        </div>

                        <input type="submit" class="btn btn-primary" @click="valRegister">
                        <p>Already have an account? <a href="login.html">Log in here!</a></p>
                    </form>
    
            </div>
         
         </div>
                  
    </body>
        

</html>